*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-image: url(./img/aqua-blue-gradient-background.jpg);
}
.displayblock{
    display: block !important;
}

.displaynone{
    display: none !important;
}
body .container{
    height: 600px;
    width: 600px;
    background-color: rgb(223, 254, 254);
    display: grid;
    grid-template-columns: repeat(15,40px);
    grid-template-rows:repeat(15,40px);
}
body .container .child{
    border: 1px solid rgb(160, 157, 157);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.red{
    background-color: rgb(231, 54, 54);
}
.green{
    background-color: rgb(43, 170, 43);
}
.yellow{
    background-color: rgb(255, 255, 0);
}
.blue{
    background-color: rgb(44, 104, 193);
}
.homered{
    grid-row: 1/7;
    grid-column: 1/7;
}
.homegreen{
    grid-row: 1/7;
    grid-column: 10/16;
}
.homeblue{
    grid-row: 10/16;
    grid-column: 1/7;
}
.homeyellow{
    grid-row: 10/16;
    grid-column: 10/16;
}
.home{
    position: relative;
    grid-row: 7/10;
    grid-column: 7/10;
    background-image:conic-gradient(rgb(43, 170, 43) 0deg,rgb(43, 170, 43) 45deg,rgb(255, 255, 0) 45deg,rgb(255, 255, 0) 135deg,rgb(44, 104, 193) 135deg,rgb(44, 104, 193) 225deg, rgb(231, 54, 54) 135deg,rgb(231, 54, 54) 315deg,rgb(43, 170, 43) 315deg, rgb(43, 170, 43) 360deg);
    display: flex;
    flex-direction: column;
}
.home .vvr{
    margin: auto;
    width: 60%;
    height: 50%;
    display: flex;
}
.container .child .child-home{
    width: 70%;
    height: 70%;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(2,50%);
    grid-template-rows: repeat(2,50%);
    background-color:rgba(1,1,1,0.3); 
    position: absolute;
    right:15% ;
}
.container .child .child-home .point{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(1,1,1,0.3);
    margin: auto; 
    position: relative;
}
.point img{
    width: 100% !important;
    height: 100% !important;
}
.uurendeeorson{
    margin: auto;
    margin-bottom: 5%;
    max-width: 50%;
    max-height: 40%;
    min-height: 30%;
    min-width: 18%;
    width: auto;
    height: auto;
    cursor: pointer;
}
.vvrendeeorson{
    margin: auto;
    margin-bottom: 50%;
    max-width: 50%;
    max-height: 40%;
    min-height: 30%;
    min-width: 18%;
    width: auto;
    height: auto;
    cursor: pointer;
}
.huu1{
    bottom: 20%;
    cursor: pointer;
    z-index: 1;
}
.huu2{
    bottom: 20%;
    cursor: pointer;
    z-index: 1;
}
.huu3{
    bottom: 20%;
    cursor: pointer;
    z-index: 1;
}
.huu4{
    bottom: 20%;
    cursor: pointer;
    z-index: 1;
}
.hvv1{
    bottom: 20%;
    cursor: pointer;
    z-index: 1;
}
.hvv2{
    bottom: 20%;
    cursor: pointer;
    z-index: 1;
}
.hvv3{
    bottom: 20%;
    cursor: pointer;
    z-index: 1;
}
.hvv4{
    bottom: 20%;
    cursor: pointer;
    z-index: 1;
}
.container .child .star{
    width: 100%;
    height: 100%;
    position: absolute;
}
.container .child img{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    min-width: 20%;
    min-height: 20%;
}
.toglogch{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.a{
    position: fixed;
    bottom: 10px;
    left: 8%;
    background-image: url(./img/a1247e345ce7e4277dc7e1df231bf338.jpg);
    background-position: center;
    border: 2px solid blue;
}
.b{
    position: fixed;
    top: 10px;
    right: 8%;
    background-image: url(./img/download.jpg);
    background-position: center;
    border: 2px solid green;
}
.toglogch .start{
    width:100px;
    height: 100px;
    background-color: rgba(1,1,1,0.4);
    position: fixed;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: rgba(1,1,1,0.3);
    background-image: url(./img/aqua-blue-gradient-background.jpg);
}
.a .start{
    bottom: 130px;
}
.b .start{
    top: 130px;
}
.toglogch .start img{
    width: 99%;
    height: 99%;
    margin: auto;
    border-radius: 10px;
    position: absolute;
    top:0 ;
}
.child-1{
    grid-area: 2/9/3/10;
}
.child-2{
    grid-area: 3/9/4/10;
}
.child-3{
    grid-area: 4/9/5/10;
}
.child-4{
    grid-area: 5/9/6/10;
}
.child-5{
    grid-area: 6/9/7/10;
}
.child-6{
    grid-area: 7/10/8/11;
}
.child-7{
    grid-area: 7/11/8/12;
}
.child-8{
    grid-area: 7/12/8/13;
}
.child-9{
    grid-area: 7/13/8/14;
}
.child-10{
    grid-area: 7/14/8/15;
}
.child-11{
    grid-area: 7/15/8/16;
}
.child-12{
    grid-area: 8/15/9/16;
}
.child-13{
    grid-area: 9/15/10/16;
}
.child-14{
    grid-area: 9/14/10/15;
}
.child-15{
    grid-area: 9/13/10/14;
}
.child-16{
    grid-area: 9/12/10/13;
}
.child-17{
    grid-area: 9/11/10/12;
}
.child-18{
    grid-area: 9/10/10/11;
}
.child-19{
    grid-area: 10/9/11/10;
}
.child-20{
    grid-area: 11/9/12/10;
}
.child-21{
    grid-area: 12/9/13/10;
}
.child-22{
    grid-area: 13/9/14/10;
}
.child-23{
    grid-area: 14/9/15/10;
}
.child-24{
    grid-area: 15/9/16/10;
}
.child-25{
    grid-area: 15/8/16/9;
}
.child-26{
    grid-area: 15/7/16/8;
}
.child-27{
    grid-area: 14/7/15/8;
}
.child-28{
    grid-area: 13/7/14/8;
}
.child-29{
    grid-area: 12/7/13/8;
}
.child-30{
    grid-area: 11/7/12/8;
}
.child-31{
    grid-area: 10/7/11/8;
}
.child-32{
    grid-area: 9/6/10/7;
}
.child-33{
    grid-area: 9/5/10/6;
}
.child-34{
    grid-area: 9/4/10/5;
}
.child-35{
    grid-area: 9/3/10/4;
}
.child-36{
    grid-area: 9/2/10/3;
}
.child-37{
    grid-area: 9/1/10/2;
}
.child-38{
    grid-area: 8/1/9/2;
}
.child-39{
    grid-area: 7/1/8/2;
}
.child-40{
    grid-area: 7/2/8/3;
}
.child-41{
    grid-area: 7/3/8/4;
}
.child-42{
    grid-area: 7/4/8/5;
}
.child-43{
    grid-area: 7/5/8/6;
}
.child-44{
    grid-area: 7/6/8/7;
}
.child-45{
    grid-area: 6/7/7/8;
}
.child-46{
    grid-area: 5/7/6/8;
}
.child-47{
    grid-area: 4/7/5/8;
}
.child-48{
    grid-area: 3/7/4/8;
}
.child-49{
    grid-area: 2/7/3/8;
}
.child-50{
    grid-area: 1/7/2/8;
}
.child-51{
    grid-area: 1/8/2/9;
}
.child-52{
    grid-area: 1/9/2/10;
}
.child-71{
    grid-area: 10/8/11/9;
}
.child-70{
    grid-area: 11/8/12/9;
}
.child-69{
    grid-area: 12/8/13/9;
}
.child-68{
    grid-area: 13/8/14/9;
}
.child-67{
    grid-area: 14/8/15/9;
}
.Sambar{
    width: 30%;
    height: 70vh;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 20%;
    z-index: 999;
    border-radius: 10px;
    border: 3px solid rgb(40, 40, 134);
    align-items: center;
    display: none;
}
.Sambar .x{
    border-radius: 50%;
    float: right;
    padding: 10px;
    height: 30px;
    width: 100%;
    text-align: right;
    padding: auto;
    color: rgb(40, 40, 134);
    font-size: large;
    cursor: pointer;
}
.Sambar .row{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    justify-content: center;
    justify-content: space-around;
}
.Sambar .row .level{
    height: 12px;
    width: 10%;
    border-radius: 10px;
    background-color: rgb(189, 48, 13);
    color: white;
    text-align: center;
    font-size: small;
}
.Sambar .row .lvliinyvts{
    height: 12px;
    width: 60%;
    border-radius: 7px;
    text-align: center;
    background-image: linear-gradient(to right,orange 0%,orange 30%,rgb(122, 121, 121) 30%,rgb(122, 121, 121) 100%);
    color: white;
    font-size: small;
}
.exp{
    color: orange;
    width: 18%;
    border-radius: 5px;
    height: 15px;
    background-color: rgba(254, 193, 50, 0.3);
    text-align: center;
}
.Sambar .row .titem{
    height: 50px;
    width: 15%;
    border-radius: 7px;
    background-size: cover;
}
.Sambar .row .hojson{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-size: cover;
    border-radius: 1px solid gold;
}
.Sambar .row .hojigdson{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-size: cover;
    border-radius: 1px solid silver;
}
.Sambar .row .kick{
    height: 50px;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.Sambar .row .kick .kicked{
    height: 48%;
    width: 100%;
    border-radius: 25px;
    background-color: rgba(128,128,128,0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}

.Sambar .row .kick img{
    height: 100%;
    width: 50%;
    border-radius: 50%;
}.Sambar .row .kick p{
    height: 100%;
    width: 50%;
    text-align: center;
    padding-top: 2px;
}
.Sambar .row .kick .fall{
    height: 48%;
    width: 100%;
    border-radius: 25px;
    background-color: rgba(128,128,128,0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}
.Sambar .row .coin{
    height: 50px;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    color: gold;
    font-size: large;
}
.Sambar .row .coin img{
    width: 50%;
    height: 100%;
}
.bluebutton{
    margin-top: 20%;
    height: 40px;
    width: 100px;
    border-radius: 10px;
    color: white;
    text-align: center;
    padding: auto;
    cursor: pointer;
    background-color: rgb(33, 81, 169);
}

.greenbutton{
    margin-top: 20%;
    height: 40px;
    width: 100px;
    border-radius: 10px;
    color: white;
    text-align: center;
    padding: auto;
    cursor: pointer;
    background-color: rgb(12, 212, 65);
}
